body {
    background: #CCCCCC
}

.princial{
 background-color: #CCCCCC;
 padding: 30px;
}
 .beneficios{
    background-color: #e0e0e0;
    padding: 20px;
 }

 .itens {
   font-style: italic;
}

h2
{
    text-align: center;
}

ul{
    display: inline-block;/*alinha pela linha de cima*/
    vertical-align: top;/* alinha pelo topo*/
    width: 20%;/*largura */
    margin-right: 15%;
}
img {
    width: 50%;
}

/* comentário */

#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.titolo-principal{
  text-align: center;
}